{% extends 'sync/bootstrap.html' %}

{% load bootstrap5 %}

{% load bootstrap_icons %}

{% load static %}

{% block bootstrap5_content %}

<link rel="stylesheet" href="{{ STATIC_URL }}static/style.css" />
<script src="https://www.youtube.com/player_api?key={{ YOUTUBE_DATA_API_KEY }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    var player;
    var start_time = Date.now();
    var end_time = Date.now();
    var prev_server_time = 0;
    var video_id;
    var allowed_delta = 5.0;

    function onYouTubePlayerAPIReady() {
      player = new YT.Player('player', {
        height: '360',
        width: '640',
        videoId: '{{ video_id }}',
        playerVars: {
            'autoplay': 1,
            'mute': 1,
            'controls': 1,
            'disablekb': 1,
        },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    function onPlayerReady(event) {
        video_id = getVid(function( data ) {
                return data['video_id'];
            }
        );
        console.log("loading video: " + video_id);
        player.loadVideoById(video_id);
        getCurrentTime(function(data){
            let response = data;
            current_time_server = response['video_time'];
            prev_server_time = current_time_server;
            player.seekTo(current_time_server);
        });
    }

    function onPlayerStateChange(event) {
        if(event.data === 0) { // finished playing
            $.ajax({
                type:"GET",
                url: "/sync/set-next-playlist-video",
                data: {
                },
            });
        }
    }

    function sendCurrentTime(callback) {
        $.ajax({
            type:"GET",
            url: "/sync/set-vid-time",
            data: {
                video_time: player.getCurrentTime()
            },
            success: callback
        });
    }

    function getVid(callback) {
        $.ajax({
            type:"GET",
            url: "/sync/get-vid-id",
            data: {},
            dataType: "json",
            success: callback
        });
    }

    function getCurrentTime(callback) {
        return $.ajax({
            type:"GET",
            url: "/sync/get-vid-time",
            data: {},
            dataType: "json",
            success: callback
        });
    }

    function updatePlayerTime() {
        getCurrentTime(function(data){
            let response = data;
            let end_time = Date.now();
            let elapsed_time = (end_time - start_time) / 1000;
            current_time_server = response['video_time'];
            if (prev_server_time != current_time_server) {
                prev_server_time = current_time_server; 
                start_time = end_time;
                console.log("server time changed. adjusting.");
                player.seekTo(current_time_server);
                return;
            }
            console.log("server time: " + current_time_server);
            current_time_local = player.getCurrentTime();
            delta = Math.abs(current_time_local - elapsed_time - current_time_server);
            console.log("elapsed time: " + elapsed_time);
            console.log("time delta: " + delta);
            console.log("start time:" + start_time);
            if (delta > allowed_delta) {
                console.log("time delta greater than allowed delta. local time changed.");
                start_time = end_time;
                sendCurrentTime();
            }
        });
        getVid(function(data) {
            let vid = data['video_id'];
            if (vid != video_id) {
                console.log("Video on server changed. [video_id="+video_id+",vid="+vid);
                video_id = vid;
                player.loadVideoById(video_id);
            }
        });
    }

    var intervalPlayerTime = window.setInterval(function(){
        updatePlayerTime(); 
        console.log("running interval");
    }, 1000);

    var intervalPlaylist = window.setInterval(function(){
        getPlaylist();
    }, 1000);

    function youtube_parser(url){
        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
        var match = url.match(regExp);
        return (match&&match[7].length==11)? match[7] : false;
    }

    function addVideoToPlaylist() {
        var inputBox = document.getElementById("input-box");
        url = inputBox.value;
        let video_id = youtube_parser(url);
        $.ajax({
            type:"GET",
            url: "/sync/add-vid-to-playlist",
            data: {
                video_id: video_id
            },
            success: function( data ) {
                getPlaylist();
            }
        });
    }

    function getPlaylist() {
        $.ajax({
            type:"GET",
            url: "/sync/get-playlist-videos",
            data: {
            },
            success: function( data ) {
                buildPlaylist(JSON.parse(data));
            }
        });
    }

    function clearPlaylist() {
        document.getElementById("playlist").replaceChildren();
    }

    function buildPlaylist(list) {
        clearPlaylist();
        for (let i = 0; i < list.length; i++) {
            let v = list[i]['video_id'];
            let id = list[i]['id'];
            const item = document.createElement('div');
            item.setAttribute('obj-id', id);
            item.setAttribute('video-id', v);
            item.className = "list-group-item list-group-item-action bg-dark";
            const itemRow = document.createElement('row');
            itemRow.className = "d-flex";
            const textDiv = document.createElement('div');
            textDiv.className = "col-sm-6";
            const textThumbnail = document.createElement('img');
            textThumbnail.className = "float-start";
            textThumbnail.setAttribute("src", "//img.youtube.com/vi/"+v+"/default.jpg");
            textThumbnail.setAttribute("width", "80");
            textThumbnail.setAttribute("height", "45");
            textDiv.appendChild(textThumbnail);
            itemRow.appendChild(textDiv);
            const buttonDiv = document.createElement('div');
            buttonDiv.className = "col-sm-6";
            const buttonAdd = document.createElement('button');
            buttonAdd.className = "btn btn-outline-light float-end";
            buttonAdd.innerHTML = `{% bs_icon 'play-circle' size='1.1em' %}`;
            buttonAdd.setAttribute('obj-id', id);
            buttonAdd.setAttribute('video-id', v);
            buttonAdd.onclick = function() {
                $.ajax({
                    type:"GET",
                    url: "/sync/set-vid-id",
                    data: {
                        video_id: this.getAttribute("video-id")
                    },
                    success: function( data ) {
                        getPlaylist();
                    }
                });
                $.ajax({
                    type:"GET",
                    url: "/sync/remove-vid-from-playlist",
                    data: {
                        id: this.getAttribute("obj-id")
                    },
                    success: function( data ) {
                        getPlaylist();
                    }
                });
            };
            const buttonDel = document.createElement('button');
            buttonDel.className = "btn btn-outline-light float-end";
            buttonDel.innerHTML = `{% bs_icon 'x-circle' size='1.1em' %}`;
            buttonDel.setAttribute('obj-id', id);
            buttonDel.setAttribute('video-id', v);
            buttonDel.onclick = function() {
                $.ajax({
                    type:"GET",
                    url: "/sync/remove-vid-from-playlist",
                    data: {
                        id: this.getAttribute("obj-id")
                    },
                    success: function( data ) {
                        getPlaylist();
                    }
                });
            };
            buttonDiv.appendChild(buttonAdd);
            buttonDiv.appendChild(buttonDel);
            itemRow.appendChild(buttonDiv);
            item.appendChild(itemRow);
            document.getElementById("playlist").appendChild(item);
        }
    }

    window.addEventListener("load", () => {
        var inputBox = document.getElementById("input-box");
        inputBox.addEventListener("keydown", checkEnter);
        var inputBoxButton = document.getElementById("input-box-button");
        inputBoxButton.onclick = function() {
            addVideoToPlaylist();
        };
        document.getElementsByTagName("html")[0].setAttribute("data-bs-theme","dark");
        getPlaylist();
    });

    function checkEnter(event) {
        if (event.keyCode == 13) {
            addVideoToPlaylist();
        }
    }
</script>


<div class="d-flex" id="wrapper">
    <div class="bg-dark border-right vh-100" id="sidebar-wrapper">
        <div class="sidebar-heading"><p class="text-light bg-dark">pyytsync</p></div>
        <div class="list-group list-group-flush overflow-auto h-100" id="playlist">
        </div>
    </div>
    <div id="page-content-wrapper" class="bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Video-URL" aria-label="Recipient's username" aria-describedby="button-addon2" id="input-box">
              <button class="btn btn-outline-secondary" type="button" id="input-box-button">Add video</button>
            </div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/rndxelement/pyytsync" target="_blank" rel="noopener noreferrer">
                    {% bs_icon 'github' size='2em' %}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid bg-dark">
            <div id="player"></div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

{% endblock %}
