{% extends 'sync/bootstrap.html' %}

{% load bootstrap5 %}

{% load bootstrap_icons %}

{% load static %}

{% load custom_tags %}

{% block bootstrap5_content %}

{{ YOUTUBE_DATA_API_KEY | json_script:"youtube_data_api_key" }}

<link rel="stylesheet" href="{{ STATIC_URL }}static/style.css" />
<script src="https://www.youtube.com/player_api?key={{ YOUTUBE_DATA_API_KEY }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>
<script src="{% static 'sync/js/sync.js' %}"></script>

<div class="d-flex" id="wrapper">
    <div class="bg-dark vh-100" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <p class="font-monospace text-light bg-dark mt-1 fs-4 text-center city-nights">
                <b>pyytsync</b>
            </p>
        </div>
        <div class="card-body overflow-auto h-100 p-1">
            <ul class="list-unstyled sortable" id="playlist">
            </ul>
        </div>
    </div>
    <div id="page-content-wrapper" class="bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 pb-0 ps-0">
            <div class="d-flex" id="nav-bar">
                <button class="btn btn-secondary me-1 mb-3" id="menu-toggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="input-group mb-3" id="input-div">
                  <input type="text" class="form-control" placeholder="Video-URL" aria-label="Recipient's username" aria-describedby="button-addon2" id="input-box">
                  <button class="btn btn-outline-secondary" type="button" id="input-box-button">Add video</button>
                </div>
                <div class="ms-auto">
                    <a class="nav-link ml-auto" href="https://github.com/rndxelement/pyytsync" target="_blank" rel="noopener noreferrer">
                        <span class="me-2" style="color: gray;">{% get_setting "APP_VERSION" %}</span>
                        {% bs_icon 'github' size='1.5em' color='gray' %}
                    </a>
                </div>
            </div>
        </nav>
        <div class="container-fluid bg-dark p-0">
            <div id="player"></div>
        </div>
    </div>
</div>

{% endblock %}
