{% extends 'sync/bootstrap.html' %}

{% load bootstrap5 %}

{% load bootstrap_icons %}

{% load static %}

{% block bootstrap5_content %}

<link rel="stylesheet" href="{{ STATIC_URL }}static/style.css" />
<script src="https://www.youtube.com/player_api?key={{ YOUTUBE_DATA_API_KEY }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>
<script type="text/javascript">
    var player;
    var start_time = Date.now();
    var end_time = Date.now();
    var prev_server_time = 0;
    var video_id;
    var allowed_delta = 5.0;

    function onYouTubePlayerAPIReady() {
      player = new YT.Player('player', {
        height: '360',
        width: '640',
        videoId: '{{ video_id }}',
        playerVars: {
            'autoplay': 1,
            'mute': 1,
            'controls': 1,
            'disablekb': 1,
        },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    function onPlayerReady(event) {
        video_id = getVid(function( data ) {
                return data['video_id'];
            }
        );
        player.loadVideoById(video_id);
        getCurrentTime(function(data){
            let response = data;
            current_time_server = response['video_time'];
            prev_server_time = current_time_server;
            player.seekTo(current_time_server);
        });
    }

    function onPlayerStateChange(event) {
        if(event.data === 0) { // finished playing
            $.ajax({
                type:"GET",
                url: "/set-next-playlist-video",
                data: {
                },
            });
        }
    }

    function sendCurrentTime(callback) {
        $.ajax({
            type:"GET",
            url: "/set-vid-time",
            data: {
                video_time: player.getCurrentTime()
            },
            success: callback
        });
    }

    function getVid(callback) {
        $.ajax({
            type:"GET",
            url: "/get-vid-id",
            data: {},
            dataType: "json",
            success: callback
        });
    }

    function getCurrentTime(callback) {
        return $.ajax({
            type:"GET",
            url: "/get-vid-time",
            data: {},
            dataType: "json",
            success: callback
        });
    }

    function updatePlayerTime() {
        getCurrentTime(function(data){
            let response = data;
            let end_time = Date.now();
            let elapsed_time = (end_time - start_time) / 1000;
            current_time_server = response['video_time'];
            if (prev_server_time != current_time_server) {
                prev_server_time = current_time_server; 
                start_time = end_time;
                player.seekTo(current_time_server);
                return;
            }
            current_time_local = player.getCurrentTime();
            delta = Math.abs(current_time_local - elapsed_time - current_time_server);
            if (delta > allowed_delta) {
                start_time = end_time;
                sendCurrentTime();
            }
        });
        getVid(function(data) {
            let vid = data['video_id'];
            if (vid != video_id) {
                video_id = vid;
                player.loadVideoById(video_id);
            }
        });
    }

    var intervalPlayerTime = window.setInterval(function(){
        updatePlayerTime(); 
    }, 1000);

    var intervalPlaylist = window.setInterval(function(){
        getPlaylist();
    }, 1000);

    function youtube_parser(url){
        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
        var match = url.match(regExp);
        return (match&&match[7].length==11)? match[7] : false;
    }

    function addVideoToPlaylist() {
        var inputBox = document.getElementById("input-box");
        url = inputBox.value;
        let video_id = youtube_parser(url);
        $.get("https://www.googleapis.com/youtube/v3/videos?part=snippet&id=" + video_id + "&key=" + "{{ YOUTUBE_DATA_API_KEY }}", function(data) {
            let video_title = data.items[0].snippet.title;
            $.ajax({
                type:"GET",
                url: "/add-vid-to-playlist",
                data: {
                    video_id: video_id,
                    video_title: video_title
                },    success: function( data ) {
                    getPlaylist();
                }
            });
        });
    }

    function getPlaylist(force_rebuild=false) {
        $.ajax({
            type:"GET",
            url: "/get-playlist-videos",
            data: {
            },
            success: function( data ) {
                buildPlaylist(JSON.parse(data), force_rebuild=force_rebuild);
            }
        });
    }

    function clearPlaylist() {
        document.getElementById("playlist").replaceChildren();
    }

    function playlistModified(list) {
        let titles = document.querySelectorAll(".video-title");
        let ret = false;
        var idx = 0;
        titles.forEach((item) => {
            let cur = item.textContent;
            cur = cur.replace('Next up:\n', '');
            if (idx >= list.length) {
                ret = true;
                return;
            }
            if (list[idx]['video_title'] != cur) {
                ret = true;
                return;
            }
            idx++;
        });
        if (ret) {
            console.log("Rebuilding..");
            return true;
        }
        if (idx != list.length) {
            console.log("Rebuilding..");
            return true;
        }
        return false;
    }

    function buildPlaylist(list, force_rebuild=false) {
        //clearPlaylist();
        if (force_rebuild) {
            console.log("Force rebuilding playlist..");
        }
        if (playlistModified(list) == false && !force_rebuild) return;
        clearPlaylist();
        list.sort(function(first, second) {
            first.order_num < second.order_num;
        });
        console.log("Building list: " + list);
        for (let i = 0; i < list.length; i++) {
            let v = list[i]['video_id'];
            let video_title = list[i]['video_title'];
            let id = list[i]['id'];
            const item = document.createElement('li');
            item.setAttribute('obj-id', id);
            item.setAttribute('video-id', v);
            item.className = "sort";
            const cardDiv = document.createElement('div');
            cardDiv.className = "card bg-dark mb-1";
            const cardHeaderDiv = document.createElement('div');
            cardHeaderDiv.className = "card-header p-2";
            const rowDiv = document.createElement('div');
            rowDiv.className = "row form-inline align-items-center";
            const handleDiv = document.createElement('div');
            handleDiv.className = "col-sm-1 handle";
            handleDiv.innerHTML = `{% bs_icon 'grip-vertical' size='1.5em' color='white' %}`;
            rowDiv.appendChild(handleDiv);
            const contentDiv = document.createElement('div');
            contentDiv.className = "col-sm-10";
            titleP = document.createElement('p');
            titleP.className = "text-light video-title";
            if (i == 0) {
                const nextUpB = document.createElement('b');
                nextUpB.appendChild(document.createTextNode("Next up:\n"));
                titleP.appendChild(nextUpB);
                titleP.appendChild(document.createElement('br'));
            }
            titleP.appendChild(document.createTextNode(video_title));
            contentDiv.appendChild(titleP);
            const thumbnailImg = document.createElement('img');
            thumbnailImg.setAttribute("src", "//img.youtube.com/vi/"+v+"/maxresdefault.jpg");
            thumbnailImg.setAttribute("width", "150");
            thumbnailImg.setAttribute("height", "84.38");
            contentDiv.appendChild(thumbnailImg);
            const buttonAdd = document.createElement('button');
            buttonAdd.className = "btn btn-outline-light";
            buttonAdd.innerHTML = `{% bs_icon 'play-circle' size='1.0em' %}`;
            buttonAdd.setAttribute('obj-id', id);
            buttonAdd.setAttribute('video-id', v);
            buttonAdd.onclick = function() {
                $.ajax({
                    type:"GET",
                    url: "/set-vid-id",
                    data: {
                        video_id: this.getAttribute("video-id")
                    },
                    success: function( data ) {
                        getPlaylist();
                    }
                });
                $.ajax({
                    type:"GET",
                    url: "/remove-vid-from-playlist",
                    data: {
                        id: this.getAttribute("obj-id")
                    },
                    success: function( data ) {
                        getPlaylist();
                    }
                });
            };
            const buttonDel = document.createElement('button');
            buttonDel.className = "btn btn-outline-light m-2";
            buttonDel.innerHTML = `{% bs_icon 'x-circle' size='1.0em' %}`;
            buttonDel.setAttribute('obj-id', id);
            buttonDel.setAttribute('video-id', v);
            buttonDel.onclick = function() {
                $.ajax({
                    type:"GET",
                    url: "/remove-vid-from-playlist",
                    data: {
                        id: this.getAttribute("obj-id")
                    },
                    success: function( data ) {
                        getPlaylist();
                    }
                });
            };
            contentDiv.appendChild(buttonAdd);
            contentDiv.appendChild(buttonDel);
            rowDiv.appendChild(contentDiv);
            cardHeaderDiv.appendChild(rowDiv);
            cardDiv.appendChild(cardHeaderDiv);
            item.appendChild(cardDiv);
            document.getElementById("playlist").appendChild(item);
        }
    }

    function sendPlaylist() {
        let titles = document.querySelectorAll(".video-title");
        let title_array = []
        titles.forEach((item) => {
            let cur = item.textContent;
            cur = cur.replace('Next up:\n', '');
            title_array.push(cur);
        });
        $.ajax({
            type:"POST",
            //dataType : "json",
            url: "/set-playlist-by-titles",
            data: {
                "titles": JSON.stringify(title_array)
            },    success: function( ) {
                console.log("SUCESS");
                getPlaylist(force_rebuild=true);
            }
        });
    }

    window.addEventListener("load", () => {
        var inputBox = document.getElementById("input-box");
        inputBox.addEventListener("keydown", checkEnter);
        var inputBoxButton = document.getElementById("input-box-button");
        inputBoxButton.onclick = function() {
            addVideoToPlaylist();
        };
        document.getElementsByTagName("html")[0].setAttribute("data-bs-theme","dark");
        getPlaylist();
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
        (function($) {
            $(".sortable").sortable({
                containerSelector: "ul.sortable",
                itemSelector: "li.sort",
                handle: ".handle",
                placeholder:
                    '<li><div class="card bg-primary text-white mb-1"><div class="card-header">Drop Here</div></div></li>',
                distance: 0,
                onDrop: function($item) {
                    $item.attr("style", null).removeClass("dragged");
                    $("body").removeClass("dragging");
                    sendPlaylist();
                }
                });
        })(jQuery);

    });

    function checkEnter(event) {
        if (event.keyCode == 13) {
            addVideoToPlaylist();
        }
    }
</script>


<div class="d-flex" id="wrapper">
    <div class="bg-dark vh-100" id="sidebar-wrapper">
        <div class="sidebar-heading"><p class="text-light bg-dark p-1 text-center"><b>pyytsync</b></p></div>
        <div class="card-body overflow-auto h-100 p-1">
            <ul class="list-unstyled sortable" id="playlist">
            </ul>
        </div>
    </div>
    <div id="page-content-wrapper" class="bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 pb-0 ps-0">
            <div class="d-flex" id="nav-bar">
                <button class="btn btn-secondary me-1 mb-3" id="menu-toggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="input-group mb-3" id="input-div">
                  <input type="text" class="form-control" placeholder="Video-URL" aria-label="Recipient's username" aria-describedby="button-addon2" id="input-box">
                  <button class="btn btn-outline-secondary" type="button" id="input-box-button">Add video</button>
                </div>
                <div class="ms-auto">
                    <a class="nav-link ml-auto" href="https://github.com/rndxelement/pyytsync" target="_blank" rel="noopener noreferrer">
                        {% bs_icon 'github' size='1.5em' color='gray' %}
                    </a>
                </div>
            </div>
        </nav>
        <div class="container-fluid bg-dark p-0">
            <div id="player"></div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

{% endblock %}
